body{
	background-color: rgb(227, 227, 203);
}

.topbar{
	background-color: rgb(69, 113, 69);;
	align-items: center;
	padding: 10px 30px;
	margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
	display: flex;
	justify-content: space-between;
	height: 60px;
}

a{
	font-size: 17px;
	color: white;
	padding-right: 60px;
}

.hangmantxt{
	color: rgb(0, 0, 0);
	display: flex;
	justify-content: space-between;
}

.navigation{
	color: white;
}

.text{
	text-align: center;
	color: white;
	padding-right: 20px;
	margin-left: 150px;
}


.logobox{
	display: flex;
	align-items: center;
}

.logo{
	margin-right: 10px;
	height: 50px;
	width: 50px;
}

.bottombox{
	box-shadow: 2px 2px 30px black;
	border: 2px solid black;
	background-color: rgb(255, 255, 255);
	height: 400px;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 20px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.hangmanpic{
	width: 300px;
	height: 300px;
	box-shadow: 12px 12px black;
}

#restart_button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  border: 2px solid black;
  background-color: rgb(69, 113, 69);
}