/* ------------ Top bar navigation stuff ------------ */
body{
    background-color: rgb(227, 227, 203);
}

.topbar{
    background-color: rgb(69, 113, 69);
    align-items: center;
    padding: 10px 30px;
    margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
	display: flex;
	justify-content: space-between;
	height: 60px;
}

.logobox{
    display: flex;
    align-items: center;
}

.logo{
	margin-right: 10px;
	height: 55px;
	width: 55px;
}

a{
	font-size: 17px;
	color: white;
	padding-right: 60px;
}

.navigation{
    color: white;
}

.backhomepage{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    text-align: center;
    align-content: center;
    margin-left: 15px;
}
/* ------------ Top bar navigation stuff ------------ */


.bottombox{
	box-shadow: 2px 2px 10px black;
	border: 2px solid black;
	background-color: rgb(227, 227, 203);
	height: 400px;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	padding: 20px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}